
td{


    border: grey solid 2px;
    width: 15px;
    height: 15px;
   
    
}

table{

    border-collapse: collapse;
}

.click{

    background-color: black;
}

#p{

    color:red;
   
}



#css4{
display: flex;
   
    align-content:space-between;
    


}